@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --appWhite: #fafafa;
  --appBlack: #0e0f11;
  --cyan: #017864;
}

body {
  color: var(--appBlack);
  background-color: var(--appWhite);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 1.5rem 3rem;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  gap: 1.8rem;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container__main {
  width: 100%;
  margin: 0 auto;
}

.nav__brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__brand span {
  color: var(--cyan);
  font-size: 2rem;
}

.nav__brand,
.nav__links {
  color: var(--appBlack);
}

.nav__links {
  font-weight: 400;
  font-size: 1rem;
}

.nav__links:hover {
  color: var(--cyan);
  transition: all 0.3s;
}

.mobile__icons {
  display: none;
}

.hamburger__icon {
  display: none;
}

.moon__icon {
  display: none;
}

.hero__section {
  padding: 4rem 2.3rem;
  display: flex;
  flex-direction: column;
}

.hero__left {
  width: 100%;
}

.hero__right {
  margin-top: 2.56rem;
}

.hero__image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small__text {
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero__text {
  /* width: 70%; */
  margin: 0.47rem 0;
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 2.5rem;
}

.hero__text span {
  color: var(--cyan);
}

.paragraph__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--appBlack);
}

.hero__btn {
  margin: 1.52rem 0;
  border: none;
  color: var(--appWhite);
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.hero__btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--cyan);
  border: 1px solid var(--cyan);
  transition: all 0.3s;
}

.hero__contact {
  margin-top: 0.56rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.hero__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__icons i:hover {
  cursor: pointer;
  color: var(--cyan);
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }

  .hamburger__icon {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .moon__icon {
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .mobile__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero__left {
    width: 50%;
  }

  .hero__section {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__image {
    height: 240px;
    width: 240px;
  }

  .hero__text {
    width: 70%;
  }
}

@media (min-width: 1333px) {
  .container__main {
    width: 1080px;
  }
}
